# Arquivos de Sistema e Node
.DS_Store
node_modules/
dist/
dist-ssr/
dev-dist/
*.local

# Segredos e Senhas (NUNCA SUBIR)
.env
.env.save
credentials.json
backend/credentials.json

# Backups e Logs (NUNCA SUBIR)
backups/
backup_db.sh
*.backup
*.save
.build.log
